// Variables
$font-weight-style: bold;
$border-radius-style: 15px;
$text-color: #ffa726;
$text-color-2: #ffffff;

/********************/
/* Global Styles    */
/********************/
.btn-small {
    border-radius: $border-radius-style;
}

/********************/
/* Footer           */
/********************/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;

    h3 {
        font-weight: $font-weight-style;
        letter-spacing: 2px;
        color: $text-color-2;
    }
    h5 {
        font-weight: $font-weight-style;
        letter-spacing: 2px;
        color: $text-color-2;
    }
}

/* footer icon */
footer {
    .fab {
    font-size: 2rem;
    }
}

/********************/
/* Navbar           */
/********************/
ul {
    .custom-dropdown { /* Code used to adjust the Navigation Menu, See README file  */
    margin: 0;
    min-width: 200px; /* Changed this to accomodate content width */
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
    }

    .custom-dropdown li {
    min-height: 0;
    }

    .custom-dropdown li>a {
    font-weight: $font-weight-style;
    font-size: 2rem;
    color: $text-color-2;
    padding: 15px 10px;
    }
}

nav {
    a.custom-logo {
    padding: 0 0 0 10px;
    font-weight: $font-weight-style;
    }

    ul a.nav-upload-btn {
    padding: 0 5px;
    font-weight: $font-weight-style;
    }
}

/***********************/
/* Homepage            */
/***********************/

/* Category name and upload-time on content card */
.card .row  {
    .custom-upload-category{
    font-weight: $font-weight-style;
    font-size: 1.25rem;
    width: auto;
    padding: 0 0 0 0.75rem;
    }

    .custom-upload-time {
    color: #00000075;
    font-size: 0.75rem;
    width: auto;
    padding: 0.60rem 0 0 0.25rem;
    }
}

/* Uploaded content card */
.card {
    padding: 10px;
    margin-bottom: 24px;
    border-radius: $border-radius-style;

    .custom-upload-content {
    font-size: 1.25rem;
    font-weight: $font-weight-style;
    color: black;
    padding: 0 1rem 0 1rem;
    }

    .custom-upload-by {
    color: #00000075;
    font-size: 1rem;
    padding: 0;
    }

    .custom-upload-title {
    font-size: 2rem;
    font-weight: $font-weight-style;
    color: black;
    }

    .row {
        margin-bottom: 0;
    }

    .custom-btn {
        padding: 10px;

        .btn-delete-edit {
            margin: 0 2px 0 2px;

            a {
                color: $text-color-2;
            }
        }
    }

}

/* Side Nav Category */
div ul li {
    .side-cat-header {
        font-weight: $font-weight-style;
        letter-spacing: 2px;
    }

    a .custom-category-name {
        font-weight: $font-weight-style;
        color: white;
        letter-spacing: 2px;
        font-size: 20px;
    }
}

/***********************/
/* Register and Login  */
/***********************/
.card-panel {
    .register-login-title{
    font-weight: $font-weight-style;
    letter-spacing: 4px;
    color: $text-color;
    }

    .register-login-text {
    font-weight: $font-weight-style;
    font-size: 1.5rem;
    padding: 10px;
        
        a {
            color: $text-color;
        }
    }

    .register-login-button {
    font-weight: $font-weight-style;
    }
}

/***********************/
/* Profile             */
/***********************/
.row {
    .profile-title {
    font-weight: $font-weight-style;
    letter-spacing: 2px;
    }
}

/***********************/
/* Add Upload          */
/***********************/


/***********************/
/* Edit Upload         */
/***********************/
.card-panel {
    border-radius: $border-radius-style;

    img {
        max-width: 300px;
        max-height: 400px;
        padding: 10px;
    }
}

/***********************/
/* Comments            */
/***********************/
/* Comment content */
.card {
    .row {    
        .custom-commented-by {
        font-weight: bold;
        font-size: 1rem;
        padding: 0 1rem 0 1rem;
        }

        div .dropdown-comment, .comment-icon {
        font-weight: bold;
        font-size: 1rem;
        margin: 0;
        color: lightgrey;

            ul li>a {
                color: #ffa726;
                font-weight: $font-weight-style;
            }
        }
        
    }
    .card-content {
        padding: 0px 10px 20px 10px;
        word-break: break-all;

        .custom-comment-time {
            margin: 0;
            width: auto;
            padding: 0px 0px 0px 0px;
            color: #00000075;
            font-size: 0.75rem;
        }
    }
}

/***********************/
/* Category            */
/***********************/
.card-category {
    padding: 10px;
    margin: 10px;
    border-radius: $border-radius-style;

    .card-content-category {
        a {
            color: white;
            font-weight: $font-weight-style;
            font-size: 18px;

        }
    }
}