{% extends "base.html" %}
{% block content %}

    <!-------------------- Display username's profile name -------------------->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="profile-title center-align">
                    {{ username }}
                </h3>
            </div>
        </div>    
    <!-------------------- Upload / Comment tabs -------------------->    
        <div class="row">
            <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6 "><a href="#own-uploads">Uploads</a></li>
                <li class="tab col s6"><a href="#own-comments">Comments</a></li>
            </ul>
            </div>
    <!-------------------- Uploads tab -------------------->
            <div id="own-uploads" class="col s12">
                {% if count_uploads == 0 %}                
                <h4 class="red-text text-darken-4 center-align">No uploads yet</h4>
                {% else %}                      
                    {% for upload in uploads %}
                        {% if session.user|lower == upload.uploaded_by|lower %}
                            <div class="row">
                                <div class="col s12">
                                    <div class="card #f5f5f5 grey lighten-4">
                                        <div class="row">
                                            <div class="custom-upload-category col s6 ">
                                                {{ upload.category_name }}
                                            </div>
                                            <div class="col s6 custom-upload-time">
                                                {{ upload.upload_time }}
                                            </div>
                                        </div>
                                        <div class="custom-upload-title">                                
                                                {{ upload.upload_title }}                                
                                        </div>
                                        <div class="card-image">
                                            <img src="{{ upload.upload_image }}">
                                        </div>
                                        <div class="card-content custom-upload-content">
                                            <p>{{ upload.upload_description}}</p>
                                            <p class="custom-upload-by">by: {{ upload.uploaded_by }}</p>
                                        </div>
                    <!-------------------- Buttons like/dislike/edit/delete -------------------->
                                        <div class="row">
                                            <div class="col s12">
                                                <div class="custom-btn">
                                                        <a href="#" class="btn-small green accent-4"><i class="fas fa-thumbs-up"></i></a>
                                                    <div class="btn-small">likes</div>
                                                        <a href="#" class="btn-small red accent-4"><i class="fas fa-thumbs-down"></i></a>
                                                    <div class="btn-small">dislikes</div>                                                
                                                    {% if session.user|lower == upload.uploaded_by|lower %}
                                                        <div class="right btn-small btn-delete-edit red accent-4">
                                                            <a href="{{ url_for('delete_upload', id=upload._id) }}"><i class="far fa-trash-alt"></i></a>
                                                        </div>
                                                        <div class="right btn-small btn-delete-edit #536dfe indigo accent-2">
                                                            <a href="{{ url_for('edit_upload', id=upload._id) }}"><i class="far fa-edit"></i></a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>                     
                                    </div>           
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}  
                {% endif %}
            </div>
    <!-------------------- Comments tab -------------------->
            <div id="own-comments" class="col s12">
                {% if count_comments == 0 %}
                    <h4 class="red-text text-darken-4 center-align">No Comments</h4>
                {% else %}                      
                    {% for comment in comments %}
                        {% if session.user|lower == comment.comment_by|lower %}
                            <div class="row">
                                <div class="col s12">
                                    <div class="card">
                                        <div class="row">
                                            <div class="custom-commented-by col s12">
                                                Commented on : {{ comment.upload_title }}
                                                    <ul class="right dropdown-comment">
                                                        <li>
                                                            <a class="dropdown-trigger1 comment-icon" href="#!" data-target="dropdown2"><i class="fas fa-ellipsis-v"></i></a>
                                                        </li>
                                                    </ul>
                                                    <ul id="dropdown2" class="dropdown-content">
                                                        <li><a href="" class="">Delete</a></li>
                                                        <li><a href="{{ url_for('edit_comment', id=comment._id) }}">Edit</a></li>
                                                    </ul>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>{{ comment.comment_description }}</p>
                                            <div class="col s6 custom-comment-time">
                                                {{ comment.comment_time }}
                                            </div>
                                        </div>                                          
                                    </div>          
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}              
            </div>
        </div>          
    </div>
{% endblock %}